<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
</head>
<body>
<a href="/"> HOME PAGE </a><br><br>
<form action="/appointments/add" method="post">
    <input type="datetime-local" name="dateTime">
    <select name="patient.id">
        <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}"></option>
    </select>
    <select name="doctor.id">
        <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.surname}"></option>
    </select>
    <input type="submit" value="add">
</form>
</body>
</html>