<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
</head>
<body>
<a href="/"> HOME PAGE </a><br><br>
<form action="/doctors/add" method="post" enctype="multipart/form-data">
    name: <input type="text" name="name"><br>
    surname: <input type="text" name="surname"><br>
    email: <input type="email" name="email"><br>
    specialty:<input type="text" name="specialty"><br>
    phone number:<input type="text" name="phoneNumber"><br>
    img:<input type="file" name="image">
    <input type="submit" value="add">
</form>
</body>
</html>